/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/


/*Hi docent! Mijn excuus voor hoe rommelig alles er uit ziet.
Ik ben een week ziek geweest waardoor ik GitHub plus de les plus de opdracht in anderhalve dag heb
moeten doen - zoals je ziet zijn er veel fouten en lijkt mijn site in veel niet op het voorbeeld.
Door de tijdsnood is het me niet gelukt om er beter in te duiken, en op maandag is er natuurlijk ook
geen front end begeleiding.
Ik heb het nu maar zo globaal mogelijk af gemaakt en gedaan wat lukte :)
Ik schaam me een beetje om het zo in te leveren, maar ik zou toch feedback waarderen.
Bedankt!
 */

/*////////////////////////
    1. Global Styles
////////////////////////*/

@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: poppinsFat;
    src: url("../fonts/Poppins-Bold.ttf");
}
:root {
    grey: #899CA0;
    darkgreen: #1C2B32;
}
body {
    font-family: poppins;
    font-size: 10px;
    color: #1C2B32;
}


/*////////////////////////
    2. Typography
////////////////////////*/


h1 {
    font-family: poppinsFat;
    font-size: 60px;
}

h3 {
    font-family: poppinsFat;
    font-size: 15px;
    text-align: center;
}

/* unvisited link */
a:link {
    color: gray;
    text-decoration: underline;
}

/*visited link*/
a:visited {
    color: #899CA0;
}

/* mouse over link */
a:hover {
    color: #899CA0;
    text-decoration: none;

}

cite {
    font-style: italic;
}



/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/

.main {
    width: 1000px;
    margin: auto;
}

.header {
    text-align: center;
    width: 1000px;
    height: 475px;
    padding-top: 70px;
    padding-bottom: 50px;
   }

.header {
    background-image: url("../assets/images/mountains.jpg");
    background-position: center;
    background-size: cover;

}



#domain-name-field {
    color: #1C2B32;
    border: 1px solid #1C2B32;
    border-radius: 15px 0 0 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 70px;
    margin: -10px;
}

#submit {
    color: white;
    background-color: #1C2B32;
    border: 1px solid #1C2B32;
    border-radius: 0px 15px 15px 0px;
    padding-top: 10px;
    padding-bottom:10px;
    width: 150px;
}


/*///////////// 3.2 Testimonial /////////////*/

.quote {
    border-radius: 10px 10px 10px 10px;
    padding: 40px 40px 40px 40px;
    padding-left: 80px;
    padding-right: 60px;
    width: 600px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    position: relative;
}

.imgquote {
    width: 20px;
    height: 20px;
    position: left;
}


.cite {
    display: block;
}

.imgjane {
    border-radius: 100px;
    width: 44px;
    height: 44px;
    vertical-align: baseline;
}

.imgjohn {
    border-radius: 100px;
    width: 44px;
    height: 44px;
    vertical-align: baseline;
}



/*///////////// 3.3 Support /////////////*/

.rounded-image {
    width: 60%;
    border-radius: 10px;
}

.button {
    background-color: #1C2B32;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
}



/*///////////// 3.4 Faq /////////////*/

.summary {
    cursor:pointer;
    list-style-type: "⯈";
}

/*.summary::after {*/
/*    list-style-type: "⯆";*/
/*}*/




.details {
    background-color: #899CA0;
    color: white;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    width: 450px

}


/*///////////// 3.5 Footer /////////////*/

.footer {
    align-self: center;
    text-align: center;
    width: 1000px;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1C2B32;
    color: white;
}